name: Trivy Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Trivy
        uses: aquasecurity/trivy-action@v0.33.1

      - name: Generate SBOM
        run: trivy sbom --format cyclonedx --output sbom.json .

      - name: Run Trivy Scan
        run: trivy fs --severity CRITICAL,HIGH --exit-code 1 --ignore-unfixed .
    
      - name: Upload SBOM as artifact
        uses: actions/upload-artifact@v4
        with:
          name: SBOM
          path: |
            trivy.html
            sbom.json

      

