name: Trivy Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .
          format: template
          template: "@contrib/html.tpl"
          output: trivy-report.html

      - name: Install Trivy CLI for SBOM
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin

      - name: Generate SBOM
        run: trivy sbom --format cyclonedx --output sbom.json .
    
      - name: Upload SBOM as artifact
        uses: actions/upload-artifact@v4
        with:
          name: SBOM
          path: |
            trivy.html
            sbom.json

      



