name: Trivy Scan

on:
  push:
    branches:
      - main

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Trivy FS scan (vulnerabilities + secrets)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: fs
          scan-ref: .
          severity: HIGH,CRITICAL
          format: template
          template: .github/trivy-template.html
          output: trivy-report.html

      - name: Generate SBOM
        run: trivy sbom --format cyclonedx --output sbom.json .
    
      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-html-report
          path: trivy-report.html

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sbom
          path: sbom.json
      




