name: Trivy Security Scan

on:
  push:
    branches: [ main ]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t juice-shop:latest .

    - name: Trivy image scan + HTML report
      uses: aquasecurity/trivy-action@0.33.1
      with:
        scan-type: image
        scan-ref: juice-shop:latest
        format: template
        template: .github/trivy-template.html
        output: trivy-report.html

    - name: Generate SBOM
      run: |
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          aquasec/trivy:latest image \
          --format cyclonedx \
          juice-shop:latest > sbom.cyclonedx.json

    - name: Upload Trivy scan report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-security-report
        path: trivy-report.html

    - name: Upload SBOM
      uses: actions/upload-artifact@v4
      with:
        name: sbom-cyclonedx
        path: sbom.cyclonedx.json

